{% extends 'base.html' %}
{% block sidebar_username %}
<div class="username">
    <span id="user_name">{{ user }}</span>
</div>
{% endblock %}
{% load static %}

{% block hostel_name %}
<div class="hostelname">
    <span id="hostel_name">{{ hostel_name }}</span>
</div>
{% endblock %}


{% block sidebar_menu %}
<li class="sidebar-link"><a href="{% url 'hostel:dashboard' user=user %}"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
<li class="sidebar-link" id="create-option">
    <a href="">
        <i class="fa-solid fa-user-group"></i>
        <span>Create</span>
    </a>
    <div class="moreoptions" id="moreoptions">
        <ul>
            <li class="create-btn" data-toggle="modal" data-target="#add-student-menu" id="createroom">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Add Student</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#create-room-menu" id="createroom">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create New Room</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#" id="createroom">
                <div>
                    <i class="fa fa-add"></i>
                    <span>View/Edit Hostel</span>
                </div>
            </li>
        </ul>

    </div>
</li>

<li class="sidebar-link"><a href="{% url 'hostel:students_details' user %}"><i class="fa-solid fa-user-group"></i><span>Students</span></a></li>
<li class="sidebar-link"><a href=""><i class="fa-solid fa-tents"></i><span>Rooms</span></a></li>
<li class="sidebar-link"><a href="{% url 'hostel:transactions' user %}"><i class="fa-solid fa-wallet"></i><span>Transactions</span></a></li>

<li class="sidebar-link "><a href=""><i class="fa-solid fa-file"></i><span>Generate Report</span></a></li>
<li class="sidebar-link "><a href="{% url 'hostel:settings' user %}"><i class="fa-solid fa-gear"></i><span>Settings</span></a></li>
{% endblock %}


{% block maincontent %}
<main>
    <!-- CREATE ROOM MODAL -->
    <div class="modal fade" id="create-room-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content roommodal" id="modal-content">
                <div class="modal-header">
                    <span>Room Creation</span>
                    <button type="button" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hostel Creation form -->
                    <form action="{% url 'hostel:hroomsave' user %}" method="post" id="roomcreationform">
                        {% csrf_token %}
                        <div class="roomdetail">
                            <div class="roomno">
                                <label for="roomnumber">Room Number</label>
                                <input type="text" placeholder="" name="roomnumber" id="roomnumber">
                            </div>
                            <div class="bedcount">
                                <label for="bedcount">No. of Beds</label>
                                <select name="bedcount" id="bedcount">
                                    <option value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="bedprice">
                                <span>Bed Price</span>
                                <ul id="bedpriceinputbox">
                                    <!-- <li>
                                        <span>Bed 1</span>
                                        <input type="text" name="bedprice1" id="bedprice1">
                                    </li> -->
                                </ul>
                            </div>

                            <div class="attachedbathroom">
                                <span>Bathroom Attached</span>
                                <input type="checkbox" name="bathroomattached" id="bathroomattached">
                            </div>
            
                            <div class="create-btns">
                                <button class="cancel" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                                <button type="submit" class="create-room-btn" id="createroombtn">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF CREATE ROOM MODAL -->

    <!-- ADD STUDENT MODAL -->
    <div class="modal fade" id="add-student-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content addstudentmodal" id="modal-content">
                <div class="modal-header">
                    <span>Applicant Details</span>
                    <button type="button" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hostel Creation form -->
                    <form method="post" action="{% url 'hostel:add_student' user %}" id="add-student-form">
                        {% csrf_token %}
                        <div class="roomdetail">
                            <div class="studentdetails">

                                <!-- left side -->
                                <div class="basicdetails">
                                    <ul class="personaldetail">
                                        <li><span>Name</span><input type="text" name="applicant_name" id="applicant_name"></li>
                                        <li><span>Application No.</span><input type="text" name="application_no" id="application_no"></li>
                                        <li>
                                            <span>Programme</span>
                                            <select name="programme" id="programme">
                                                <option value="Undergraduate">Undergraduate</option>
                                                <option value="Postgraduate">Postgraduate</option>
                                            </select>
                                        </li>
                                        <li>
                                            <span>Year of Admission</span>
                                            <select name="year_of_admission" id="year_of_admission">
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                                <option value="2030">2030</option>
                                            </select>
                                        </li>
                                        <li><span>Roll No.</span><input type="text" name="roll_no" id="roll_no"></li>
                                        <li><span>Joining Date</span><input type="date" name="joining_date" id="joining_date"></li>
                                        <li><span>Leaving Date</span><input type="date" name="leaving_date" id="leaving_date"></li>
                                        <li><span>Mobile No.</span><input type="tel" name="mobile_no" id="mobile_no"></li>
                                        <li><span>Email ID</span><input type="email" name="email" id="email"></li>
                                    </ul>
                                    <span class="section-title">Parent's Details</span>
                                    <hr/>
                                    <ul class="parentdetail">
                                        <li><span>Father's Name</span><input type="text" name="father_name" id="father_name"></li>
                                        <li><span>Mother's Name</span><input type="text" name="mother_name" id="mother_name"></li>
                                        <li><span>Phone No. of Parent</span><input type="text" name="parent_phone_no" id="parent_phone_no"></li>
                                    </ul>
                                </div>

                                <!-- right side -->
                                <div class="otherdetails">
                                    <ul class="parentdetail">
                                        <li><span>Email ID of Parent</span><input type="text" name="parent_email" id="parent_email"></li>
                                        <li><span>Address</span><textarea name="address" id="address"></textarea></li>
                                        <li><span>Local Guardian Name</span><input type="text" name="localguardian_name" id="localguardian_name"></li>
                                        <li><span>Local Guardian Ph. No.</span><input type="tel" name="localguardian_mobile_no" id="localguardian_mobile_no"></li>
                                    </ul>
                                    <span class="section-title">Other Details</span>
                                    <hr />
                                    <ul class="others">
                                        <li><span>Deposit Amount</span><input type="text" name="deposit_amount" id="deposit_amount" required></li>
                                        <li>
                                            <span>Room No.</span>
                                            <select name="room_number" id="room_number">
                                                {% for room_number in room_numbers %}
                                                    <option value="{{ room_number }}">{{ room_number }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>
                                            <span>Bed No.</span>
                                            <select name="bed_number" id="bed_number">
                                                <option value="B1">B1</option>
                                                <option value="B2">B2</option>
                                                <option value="B3">B3</option>
                                                <option value="B4">B4</option>
                                            </select>
                                        </li>
                                        <li><span>Total Fees</span><input type="text" name="total_fees" id="total_fees"></li>
                                        <li><span>Fees Paid</span><input type="text" name="fees_paid" id="fees_paid"></li>
                                        <li><span>Fees Remaining</span><input type="text" name="fees_remaining" id="fees_remaining"></li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="create-btns">
                                <button class="cancel" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                                <button type="submit" class="create-student-btn" id="createstudentbtn">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF ADD STUDENT MODAL -->


    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle" style="stroke: #f44242;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">40</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <span>Unoccupied Room</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle" style="stroke: #8c42f4;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">20</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <span>Student Strength</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle" style="stroke: #42b3f4;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">34</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <span>Fees Paid</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle" style="stroke: #42f480;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">78</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container">

        </div>
    </div>
    <script>

    /* SCRIPT TO HANDLE THE INPUT BOX ACCORDING TO THE BEDCOUNT */

        let bedcount = document.getElementById('bedcount');    /* select box*/
        let bedpriceinputbox = document.getElementById('bedpriceinputbox');   /* bedcontainer*/

        bedcount.addEventListener('change', ()=>{

            // clearing the bed price input box container
            bedpriceinputbox.innerHTML = '';

            const numberofbeds = parseInt(bedcount.value);

            console.log(">> ", numberofbeds)

            for (let i = 1; i <= numberofbeds; i++) {                
                const li = document.createElement('li');
                li.innerHTML = `
                    <span>Bed ${i}</span>
                    <input type="text" name="bed${i}price" id="bed${i}price">
                `;
                bedpriceinputbox.appendChild(li);
            }
        });

        $(document).ready(function () {
            $("#add-student-form").submit(function (e) {
                e.preventDefault();
    
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.status === 'success') {
                            // Do something on success, e.g., close the modal
                            $("#add-student-menu").modal('hide');
                        } else {
                            // Handle errors
                            console.error('Error submitting form');
                        }
                    },
                    error: function () {
                        console.error('Error submitting form');
                    }
                });
            });
        });
    </script>
</main>


{% endblock %}