{% extends 'base.html' %}

{% load static %}

{% block hostel_name %}
<div class="hostelname">
    <span>ST. JOSEPH’S BOYS HOSTEL</span>
</div>
{% endblock %}

{% block hstl_create_buttons %}
<div class="subnav">
    <div class="create-btn" data-toggle="modal" data-target="#create-room-menu" id="createroom"><i class="fa fa-add"></i><span>Create New Room</span></div>
    <div class="create-btn" data-toggle="modal" data-target="" id="addstudent"><i class="fa fa-add"></i><span>Add Student</span></div>
    <div class="create-btn" data-toggle="modal" data-target="" id="view-edit-hstl"><i class="fa fa-add"></i><span>View / Edit Hostel</span></div>
</div>
{% endblock %}


{% block sidebar_menu %}
<li><a href=""><i class="fa-solid fa-house"></i><span>Students</span></a></li>
<li><a href=""><i class="fa-solid fa-file"></i><span>Rooms</span></a></li>
<li><a href="{% url 'transactions' %}"><i class="fa-solid fa-file"></i><span>Transactions</span></a></li>
{% endblock %}


{% block maincontent %}
<main>
    <!-- CREATE ROOM MODAL -->
    <div class="modal fade" id="create-room-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content roommodal" id="modal-content">
                <div class="modal-header">
                    <span>Applicant Details</span>
                    <button type="button" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hostel Creation form -->
                    <form action="">
                        <div class="roomdetail">
                            <div class="roomno">
                                <label for="roomnumber"></label>
                                <input type="text" placeholder="" name="roomnumber" id="roomnumber">
                            </div>
                            <div class="bedcount">
                                <label for="bedcount"></label>
                                <select name="bedcount" id="bedcount">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <span>Admin Information</span>
                            <input type="text" placeholder="Admin Email" name="hostelname">
                            <div class="contact">
                                <select name="" id="">
                                    <option name="ind">+91</option>
                                    <option name="ind">+91</option>
                                    <option name="ind">+91</option>
                                    <option name="ind">+91</option>
                                    <option name="ind">+91</option>
                                </select>
                                <input type="text" placeholder="7472929471" name="phone">
                            </div>
                            <div style="width: 100%;">
                                <span>Select Hostel/Guest House</span>
                            </div>
                            <select name="" id="">
                                <option name="Hostel">Hostel</option>
                                <option name="Guest House">Guest House</option>
                            </select>
            
                            <div class="create-btns">
                                <button class="cancel" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                                <button type="submit" class="create-admin-btn">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF CREATE ROOM MODAL -->
    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Unoccupied Room</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Student Strength</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Fees Paid</span>
                <div class="detail"></div>
            </div>
        </div>

        <div class="content-container">

        </div>
    </div>
</main>

{% endblock %}