{% extends 'base.html' %}

{% load static %}

{% block hostel_name %}
<div class="hostelname">
    <span>ST. JOSEPH’S BOYS HOSTEL</span>
</div>
{% endblock %}

{% block hstl_create_buttons %}
<div class="subnav">
    <div class="create-btn"><i class="fa fa-add"></i><span>Create New Hostel</span></div>
    <div class="create-btn"><i class="fa fa-add"></i><span>Create Admin</span></div>
    <div class="create-btn"><i class="fa fa-add"></i><span>Create Guest House</span></div>
    <div class="create-btn"><i class="fa fa-add"></i><span>View/ Edit</span></div>
</div>
{% endblock %}


{% block sidebar_menu %}
<li><a href=""><i class="fa-solid fa-house"></i><span>Students</span></a></li>
<li><a href=""><i class="fa-solid fa-file"></i><span>Rooms</span></a></li>
<li><a href="{% url 'transactions' %}"><i class="fa-solid fa-file"></i><span>Transactions</span></a></li>
{% endblock %}


{% block maincontent %}
<main>
    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
        </div>

        <div class="content-container">

        </div>
    </div>
</main>
{% endblock %}