{% extends 'hostel/dashboard.html' %}

{% load static %}

{% block maincontent %}

<main>
    <div class="fee-payment-container">
        <div class="headers">
            <span>Fee Payment Details</span>
        </div>
        <div class="fee-payment-table-container">
            <table id="fee-payment-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Payment By</th>
                        <th>Amount</th>
                        <th>Payment ID</th>
                        <th>Payment Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Bcdf</td>
                        <td>Wallet Debit</td>
                        <td>4800</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>Abcd</td>
                        <td>Card Transfer</td>
                        <td>4500</td>
                        <td>19 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                    <tr>
                        <td>BCDF</td>
                        <td>Wallet Debit</td>
                        <td>5000</td>
                        <td>20 Jul 2023</td>
                        <td>sample</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>

<!-- FOR INCLUDING JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- FOR DATATABLE -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<script>
    $('#fee-payment-table').DataTable({
        paging: false,
        responsive: true,
        fixedColumnHeader: true,
    });
</script>

{% endblock %}