

{% extends 'hostel/dashboard.html' %}

{% load static %}

{% block maincontent %}
<main>
    <div class="settings-container">
        <form method="POST">
            {% csrf_token %}
            <div class="details">
                <div class="title">
                    <span class="hostel_name" style="text-transform: capitalize">{{ hostel_details.hostel_name}}</span>
                </div>
                <div class="hostel_details">
                    <div class="hostel-image">
                        <img src="{% static 'assets/img/logo.png' %}" alt="">
                        <input type="file" name="hostelimage_upload" id="hostelimage_upload">
                    </div>
                    <div class="hostel-name-address">
                        <div class="user-name">
                            <label for="username">Name</label>
                            <input type="text" name="username" id="username" value="{{ user}}" disabled/>
                        </div>
                        <div class="hostel-address">
                            <label for="hosteladdress">Address</label>
                            <textarea type="text" name="hosteladdress" id="hosteladdress" value="" disabled>{{hostel_details.hostel_address}}</textarea>
                        </div>
                        <div class="hostel-capacity">
                            <label for="hostel_capacity">Capacity</label>
                            <input type="text" name="hostel_capacity" id="hostel_capacity" value="{{ hostel_details.hostel_capacity}}" />
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="mess-details">
                    <span>Mess Details</span>
                    <div class="vendor-name">
                        <label for="vendorname">Vendor Name</label>
                        <input type="text" name="vendorname" id="vendorname" value="{{ hostel_details.mess_vendor}}" />
                    </div>
                    <div class="mess-fee">
                        <label for="mess-fee">Mess Fee</label>
                        <input type="text" name="mess-fee" id="mess-fee" value="{{ hostel_details.mess_fees}}" />
                    </div>
                </div>
                <div class="buttons">
                    <button class="cancel-btn">Cancel</button>
                    <button type="submit" class="update-details-btn">Update Details</button>
                </div>
            </div>
        </form>
    </div>

    {% if messages %}
    {% for message in messages %}
        <script>
            // Display an alert for each message
            {% if message.tags %}
                alert("{{ message.tags }}: {{ message }}");
            {% else %}
                alert("{{ message }}");
            {% endif %}
        </script>
    {% endfor %}
{% endif %}
</main>

{% endblock %}


