{% extends 'hostel/dashboard.html' %}

{% load static %}

{% block maincontent %}

<!-- FOR INCLUDING JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- FOR DATATABLE -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<main>
    <div class="student-container">
        <div class="headers">
            <span>Student Details</span>
        </div>
        <div class="student-table-container">
            <table id="student-table">
                <thead>
                    <tr>
                        <th>Roll No.</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Room No</th>
                        <th>Remaining Fee</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for applicant in applicants %}
                        <tr>
                            <td>{{ applicant.roll_no }}</td>
                            <td>{{ applicant.name }}</td>
                            <td>{{ applicant.program }}</td>
                            <td>{{ applicant.room_no }}</td>
                            <td>{{ applicant.fees_remaining }}</td>
                            <td>
                                <button class="options"><i class="fa-regular fa-pen-to-square"></i></button>
                                <button class="options"><i class="fa-solid fa-trash"></i></button>
                                <button class="options payfees" data-toggle="modal" data-target="#pay-fees-modal" data-student-name="{{ applicant.name }}">Pay Fees</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- CREATE PAY MODAL -->
    <div class="modal fade" id="pay-fees-modal" tabindex="-1" role="dialog" aria-labelledby="payFeesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content pymodal" id="modal-content">
                <!-- Add your modal content here -->
                <div class="modal-header">
                    <h5 class="modal-title" id="payFeesModalLabel">Pay Fees</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hostel Creation form -->
                    <form action="" method="post" id="payform">
                        {% csrf_token %}
                        <div class="paydetail1">
                            <div class="student">
                                <label for="student">Student Name</label>
                                <input type="text" placeholder="Name" name="std-name" id="std-name">
                                <!-- <p id="std-name"></p> -->
                            </div>
                            <div class="includemess">
                                <span>Mess Facility</span>
                                <input type="checkbox" name="includemess" id="includemess">
                            </div>
                            <div class="feestype">
                                <label for="feestype">Fee Type</label>
                                <select name="feestype" id="feestype" onchange="updateTotalAmount()">
                                    <option value=""></option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quarterly">Quarterly</option>
                                    <option value="Half Yearly">Half Yearly</option>
                                    <option value="Yearly">Yearly</option>
                                </select>
                            </div>
                            <div class="totalamt">
                                <span>Total Amount</span>
                                <input type="text" placeholder="" name="totalamt" id="totalamt">
                            </div>
                            <div class="transactiontype">
                                <label for="transactiontype">Fee Type</label>
                                <select name="transactiontype" id="transactiontype">
                                    <option value=""></option>
                                    <option value="UPI">UPI</option>
                                    <option value="NetBanking">NetBanking</option>
                                    <option value="Debit_Card">Debit Card</option>
                                    <option value="Credit_Card">Credit Card</option>
                                    <option value="Paytm">Paytm</option>
                                    <option value="PhonePay">PhonePay</option>
                                    <option value="GooglePay">GooglePay</option>
                                </select>
                            </div>
                            <div class="tranID">
                                <span>TransactionsID</span>
                                <input type="text" placeholder="Transaction ID" name="tranID" id="tranID">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
                                <button type="submit" class="pay-btn" id="paybtn">Pay</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>

<script>
    
        // Function to update the total amount based on fee type and include mess checkbox
    function updateTotalAmount() {
        var feeType = document.getElementById('feestype').value;
        var includeMess = document.getElementById('includemess').checked;
        var baseAmount = 100; // Set your base amount

        // Calculate the amount based on fee type
        var feeAmount;
        switch (feeType) {
            case 'Monthly':
                feeAmount = 50;
                break;
            case 'Quarterly':
                feeAmount = 150;
                break;
            case 'Half Yearly':
                feeAmount = 300;
                break;
            case 'Yearly':
                feeAmount = 600;
                break;
            default:
                feeAmount = 0;
        }

        // Add mess fees if includeMess is checked
        if (includeMess) {
            feeAmount += 50; // Set your mess fees
        }

        // Update the total amount input field
        document.getElementById('totalamt').value = baseAmount + feeAmount;
    }
    $('#student-table').DataTable({
        "autoWidth": true,
        paging: false,
        responsive: true

    }); 

    
</script>
{% endblock %}