{% extends 'hostel/dashboard.html' %}

{% load static %}

{% block maincontent %}

<main>
    <div class="student-container">
        <div class="headers">
            <span>Student Details</span>
        </div>
        <div class="student-table-container">
            <table id="student-table">
                <thead>
                    <tr>
                        <th>Roll No.</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Room No</th>
                        <th>Remaining Fee</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for applicant in applicants %}
                        <tr>
                            <td>{{ applicant.roll_no }}</td>
                            <td>{{ applicant.name }}</td>
                            <td>{{ applicant.program }}</td>
                            <td>{{ applicant.room_no }}</td>
                            <td>{{ applicant.fees_remaining }}</td>
                            <td>
                                <button class="options"><i class="fa-regular fa-pen-to-square"></i></button>
                                <button class="options"><i class="fa-solid fa-trash"></i></button>
                                <button class="options payfees">Pay Fees</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>

<!-- FOR INCLUDING JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- FOR DATATABLE -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
    $('#student-table').DataTable({
        "autoWidth": true,
        paging: false,
        responsive: true

    });
</script>
{% endblock %}