{% extends 'hostel/dashboard.html' %}

{% load static %}

{% block maincontent %}
<main>
    <div class="transaction-container">
        <div class="headers">
            <span>Transactions</span>
            <a class="pay-fees-btn" href="{% url 'hostel:fee_payment' user %}">Pay Fees</a>
        </div>
        <div class="transaction-table-container">
            <table id="transaction-table">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Transaction Method</th>
                        <th>Amount</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fee in feedetail %}
                        <tr>
                            <td>{{ fee.name }}</td>
                            <td>{{ fee.transaction_method }}</td>
                            <td>{{ fee.final_amount }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>

<!-- FOR INCLUDING JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- FOR DATATABLE -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
    $('#transaction-table').DataTable({
        "columns": [
            { "width": "25%" },
            { "width": "25%" },
            { "width": "25%" },
            { "width": "25%" },
        ],
        paging: false,
        responsive: true

    });
</script>
{% endblock %}