{% extends 'base.html' %}

{% load static %}

{% block maincontent %}
<main>
    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>{% data.username %}</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
        </div>
        <div class="content-container"></div>
    </div>
</main>
{% endblock %}