{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
</head>
<body style="background-image: url('{% static 'assets/img/backdrop.jpg' %}');">

    <!-- HEADER -->

    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="{% static 'assets/img/Project Logo.png' %}" alt="">
            </div>
            {% block hostel_name %}
            {% endblock %}
            <div class="user-details">
                <select name="" id="">
                    <option value="superadmin">Super Admin</option>
                </select>
                <span class="notification">
                    <i class="fa-solid fa-bell" style="color: #5570f1; font-size: 1.4rem;"></i>
                </span>
                <div class="profilepic">
                    <img src="{% static 'assets/img/tom-v.jpeg' %}" alt="">
                </div>
            </div>
        </nav>
        {% block hstl_create_buttons %}
        {% endblock %}
    </header>


    <!-- SIDEBAR -->
    <aside>
        <div class="sidebar-container">
            <div class="top">
                <div class="logo-container">
                    <div class="logo">
                        <img src="{% static 'assets/img/logo.png' %}" alt="">
                    </div>
                    <span>Super Admin</span>
                </div>
                <ul class="menu-items">
                    <li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
                    <li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-file"></i><span>Generate Report</span></a></li>
                    {% block sidebar_menu %}
                    {% endblock %}
                    <li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-gear"></i><span>Settings</span></a></li>
                </ul>
            </div>
            <div class="logout-btn">
                <a href="{% url 'dashboard' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </aside>

    <!-- MAIN CONTENTS -->
    {% block maincontent %}
    {% endblock %}
    <!-- ---------------- -->


    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
</body>
</html>