{% extends 'base.html' %}

{% load static %}

{% block maincontent %}
<main>
    <div class="create-hstl-container">
        <div class="head">
            <span>Create New Hostel</span>
            <div style="cursor: pointer;">&times;</div>
        </div>
        <form action="" method="post">
            <div class="hstldetail">
                <div class="detailside">
                    <div class="details1">
                        <span>Hostel Details</span>
                        <div class="details">
                            <input type="text" placeholder="Hostel Name" name="hostelname">
                            <div>
                                <input type="text" placeholder="Hostel Type" name="hosteltype">
                                <input type="text" placeholder="Total Capacity" name="totalcapactiy">
                            </div>
                        </div>
                    </div>
                    <div class="details2">
                        <span>Address</span>
                        <Textarea placeholder="Add Address" ></Textarea>
                    </div>
                </div>
                <div class="imageuploadside">
                    <input type="file" name="" id="">
                </div>
            </div>
            <div class="create-btns">
                <button class="cancel">Cancel</button>
                <button class="create-hstl-btn">Create Hostel</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}