{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


{% block sidebar_menu %}
<li class="sidebar-link"><a href="/"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
<li class="sidebar-link" id="create-option">
    <a href="">
        <i class="fa-solid fa-user-group"></i>
        <span>Create</span>
    </a>
    <div class="moreoptions" id="moreoptions">
        <ul>
            <li class="create-btn" data-toggle="modal" data-target="#create-hstl-menu" id="createhstl">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create New Hostel</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#create-admin-menu" id="createadmin">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create Admin</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#" id="createguesthouse">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create Guest House</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#" id="view-edit-btn">
                <div>
                    <i class="fa fa-add"></i>
                    <span>View/Edit</span>
                </div>
            </li>
        </ul>

    </div>
</li>
<li class="sidebar-link "><a href=""><i class="fa-solid fa-file"></i><span>Generate Report</span></a></li>
<li class="sidebar-link "><a href=""><i class="fa-solid fa-gear"></i><span>Settings</span></a></li>
{% endblock %}

{% block maincontent %}
<main>

    <!-- CREATE HOSTEL MODAL -->
    <div class="modal fade" id="create-hstl-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content hostelmodal" id="modal-content">
                <div class="modal-header">
                    <span>Create New Hostel</span>
                    <button type="button" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hostel Creation form -->
                    <form action="{% url 'hostel_save' %}" method="post">
                        {% csrf_token %}
                        <div class="hstldetail">
                            <div class="detailside">
                                <div class="details1">
                                    <span>Hostel Name</span>
                                    <div class="details">
                                        <input type="text" placeholder="Hostel Name" name="hostelname">
                                        <div class="admin-selections">
                                            <div style="width: 100%;">Select Admins</div>
                                            <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="admins">
                                                <option value=""></option>
                                                {% for warden in warden_details %}
                                                <option value="{{ warden }}">{{ warden }}</option>
                                                 {% endfor %}
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="details2">
                                    <span>Address</span>
                                    <Textarea placeholder="Hostel Address" name="hostel_address" ></Textarea>
                                </div>
                            </div>
                            <div class="imageuploadside">
                                <div class="imageuploads">
                                    <img src="{% static 'assets/img/logo.png' %}" alt="upload image here" id="hstlimage">
                                    <input type="file" name="" id="uploadimage" onchange="previewImage(event)">
                                </div>
                            </div>
                        </div>
                        <div class="create-btns">
                            <button class="cancel" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="submit" class="create-hstl-btn" id="createhostelbtn">Create Hostel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF CREATE HSTL MODAL -->



    <!-- CREATE ADMIN MODAL -->

    <div class="modal fade" id="create-admin-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content adminmodal" id="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Admin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Admin Creation form -->
                    <form id="createAdminForm" action="{% url 'adminsave' %}" method="post">
                        {% csrf_token %}
                        <div class="admindetail">
                            <h6>Admin Information</h6>
                            <input type="text" placeholder="Admin Name" name="adminName">
                            <input type="text" placeholder="Admin Email" name="adminEmail">
                            <div class="contact">
                                <select name="countryCode">
                                    <option value="+91">+91</option>
                                    <!-- Add other country codes if needed -->
                                </select>
                                <input type="text" placeholder="Phone Number" name="phone">
                            </div>
                            <div style="width: 100%;">
                                <label for="hostelType">Select Hostel/Guest House</label>
                                <select name="hostelType" id="hostelType">
                                    <option value="Hostel">Hostel</option>
                                    <option value="Guest House">Guest House</option>
                                </select>
                            </div>
                            <div class="create-btns">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="createadminbtn">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- END OF CREATE ADMIN MODAL -->


    <!-- MAIN CONTENT CONTAINER -->
    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle"  style="stroke: #f49242;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">45</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <span>Guest Rooms</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>  <!-- r = radius = 60 -->
                                <circle cx="60" cy="60" r="60" class="displayCircle"  style="stroke: #4285f4;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">80</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <span>Hostel Rooms</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle"  style="stroke: #42f480;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">20</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="graph">
                <span>Pending</span>
                <div class="detail">
                    <div class="card">
                        <div class="percent">
                            <svg>
                                <circle cx="60" cy="60" r="60"></circle>
                                <circle cx="60" cy="60" r="60" class="displayCircle" style="stroke: #d9f442;"></circle>
                            </svg>
                            <div class="number">
                                <span><h3 class="percentage">90</h3>%</span>   <!-- render the percentage from backend -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container">

        </div>
    </div>

</main>
<script>
    $(document).ready(function () {
        $("#createadminbtn").click(function () {
            // Get input values
            var adminName = $("input[name='adminname']").val();
            var adminEmail = $("input[name='adminemail']").val();
            var phone = $("input[name='phone']").val();
            var hostelType = $("select[name='hostelType']").val();
            console.log(adminEmail);
            console.log(adminName);
            $.ajax({
                type: "POST",
                url: "adminsave",
                data: {
                    adminName: adminName,
                    adminEmail: adminEmail,
                    phone: phone,
                    hostelType: hostelType,
                },
                success: function (data) {
                    // Handle success, show a popup, etc.
                    window.alert("Admin added successfully!");
                },
                error: function (error) {
                    // Handle error, show an error message, etc.
                    console.error("Error adding admin:", error);
                }
            });
        });
        $("#createhostelbtn").click(function () {
            // Get input values
            var hostel_name = $("input[name='hostelname']").val();
            var hostel_admins = $("input[name='admins']").val();
            var hostel_address = $("input[name='hostel_address']").val();
            $.ajax({
                type: "POST",
                url: "hostel_save",
                data: {
                    hostel_name: hostel_name,
                    hostel_admins: hostel_admins,
                    hostel_address: hostel_address,                    
                },
                success: function (data) {
                    // Handle success, show a popup, etc.
                    window.alert("Admin added successfully!");
                },
                error: function (error) {
                    // Handle error, show an error message, etc.
                    console.error("Error adding admin:", error);
                }
            });
        });
    });
</script>
{% endblock %}
