{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block hstl_create_buttons %}
<div class="subnav">
    <div class="create-btn" id="createhstl"><i class="fa fa-add"></i><span>Create New Hostel</span></div>
    <div class="create-btn" id="createadmin"><i class="fa fa-add"></i><span>Create Admin</span></div>
    <div class="create-btn" id="createguesthouse"><i class="fa fa-add"></i><span>Create Guest House</span></div>
    <div class="create-btn" id="view-edit"><i class="fa fa-add"></i><span>View/ Edit</span></div>
</div>
{% endblock %}

{% block maincontent %}
<main>

    <!-- CREATE HOSTEL MODAL -->
    <div class="create-hstl-container" id="create-hstl-menu">
        <div class="head">
            <span>Create New Hostel</span>
            <button style="cursor: pointer;" id="close_btn" onclick="close_btn('hstl')">&times;</button>
        </div>
        <form action="">
            <div class="hstldetail">
                <div class="detailside">
                    <div class="details1">
                        <span>Hostel Details</span>
                        <div class="details">
                            <input type="text" placeholder="Hostel Name" name="hostelname">
                            <div>
                                <input type="text" placeholder="Hostel Type" name="hosteltype">
                                <input type="text" placeholder="Total Capacity" name="totalcapactiy">
                            </div>
                        </div>
                    </div>
                    <div class="details2">
                        <span>Address</span>
                        <Textarea placeholder="Add Address" ></Textarea>
                    </div>
                </div>
                <div class="imageuploadside">
                    <div class="imageuploads">
                        <img src="{% static 'assets/img/logo.png' %}" alt="upload image here" id="hstlimage">
                        <input type="file" name="" id="uploadimage" onchange="previewImage(event)">
                    </div>
                    <div class="admin-selections">
                        <span>Select Admins</span>
                        <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="admins">
                            <option value=""></option>
                            <option>Tomjo</option>
                            <option>Amal</option>
                            <option>John</option>
                            <option>Basil</option>
                            <option>Amal</option>
                            <option>John</option>
                            <option>Basil</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="create-btns">
                <button class="cancel" id="close_btn" onclick="close_btn('hstl')">Cancel</button>
                <button type="submit" class="create-hstl-btn">Create Hostel</button>
            </div>
        </form>
    </div>
    <!-- END OF CREATE HSTL MODAL -->

    <!-- CREATE ADMIN MODAL -->
    <div class="create-admin-container" id="create-admin-menu">
        <div class="head">
            <span>Create Admin</span>
            <button style="cursor: pointer;" id="close_btn" onclick="close_btn('admin')">&times;</button>
        </div>
        <div class="admindetail">
            <span>Admin Information</span>
            <form action="">
                <input type="text" placeholder="Admin Name" name="hostelname">
                <input type="text" placeholder="Admin Email" name="hostelname">
                <div class="contact">
                    <select name="" id="">
                        <option name="ind">+91</option>
                        <option name="ind">+91</option>
                        <option name="ind">+91</option>
                        <option name="ind">+91</option>
                        <option name="ind">+91</option>
                    </select>
                    <input type="text" placeholder="7472929471" name="phone">
                </div>
                <div style="width: 100%;">
                    <span>Select Hostel/Guest House</span>
                </div>
                <select name="" id="">
                    <option name="Hostel">Hostel</option>
                    <option name="Guest House">Guest House</option>
                </select>

                <div class="create-btns">
                    <button class="cancel" id="close_btn" onclick="close_btn('admin')">Cancel</button>
                    <button type="submit" class="create-admin-btn">Create</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END OF CREATE ADMIN MODAL -->


    <!-- MAIN CONTENT CONTAINER -->
    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
        </div>
        <div class="statistics-container">
            {%for hostel in hostel_datails %}
                <div class="dashboard_cards">
                    <span> Hostel Name:{{hostel.hostel_name}}</span>
                    <span> Warden:{{hostel.hostel_warden}}</span>
                    <div class="detail"></div>
                </div>
            {% endfor %} 
        </div>


        <div class="content-container">
            
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

    <script>
        $(document).ready(function() {
          $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
          });
        });
    </script>

    
 {{form.hostel_name}}
 <script>
                     /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
     //We start indexing at one because CSRF_token is considered and input field 
      */

     //Query All input fields
     var form_fields = document.getElementsByTagName('input')
   

     for (var field in form_fields){	
         form_fields[field].className += ' form-control'
     }
 </script>

</main>
{% endblock %}