{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


{% block sidebar_menu %}
<li class="sidebar-link" id="create-option">
    <a href="">
        <i class="fa-solid fa-user-group"></i>
        <span>Create</span>
    </a>
    <div class="moreoptions" id="moreoptions">
        <ul>
            <li class="create-btn" data-toggle="modal" data-target="#create-hstl-menu" id="createhstl">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create New Hostel</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#create-admin-menu" id="createadmin">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create Admin</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#" id="createguesthouse">
                <div>
                    <i class="fa fa-add"></i>
                    <span>Create Guest House</span>
                </div>
            </li>
            <li class="create-btn" data-toggle="modal" data-target="#" id="view-edit-btn">
                <div>
                    <i class="fa fa-add"></i>
                    <span>View/Edit</span>
                </div>
            </li>
        </ul>

    </div>
</li>
{% endblock %}

{% block maincontent %}
<main>

    <!-- CREATE HOSTEL MODAL -->
    <div class="modal fade" id="create-hstl-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content hostelmodal" id="modal-content">
                <div class="modal-header">   
                    <!-- Title change based on update -->
                    {% if item.Hostel_ID%}
                        <span>Update Hostel</span>                        
                    {% else %}                    
                        <span>Create New Hostel</span>
                    {% endif %}
                        <!-- End -->
                    <button type="button" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hostel Creation form -->
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="hstldetail">
                            <div class="detailside">
                                <div class="details1">
                                    <span>Hostel Name</span>
                                    <div class="details">
                                        {{form.hostel_name}}
                                        <div class="admin-selections">
                                            <div style="width: 100%;">Select Admins</div>
                                            {{form.hostel_warden}}
                                        </div>
                                    </div>
                                </div>
                                <div class="details2">
                                    <span>Address</span>
                                     {{form.hostel_address}}
                                </div>
                            </div>
                            <div class="imageuploadside">
                                <div class="imageuploads">
                                    <img src="{% static 'assets/img/logo.png' %}" alt="upload image here" id="hstlimage">
                                    <input type="file" name="" id="uploadimage" onchange="previewImage(event)">
                                </div>
                            </div>
                        </div>
                        <div class="create-btns">
                            <button class="cancel" id="close_btn" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <input type="submit" class="create-hstl-btn" value="Create Hostel">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF CREATE HSTL MODAL -->



    <!-- CREATE ADMIN MODAL -->

    <div class="modal fade" id="create-admin-menu" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content adminmodal" id="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Admin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Admin Creation form -->
                    <form id="createAdminForm" action="{% url 'adminsave' %}" method="post">
                        {% csrf_token %}
                        <div class="admindetail">
                            <h6>Admin Information</h6>
                            <input type="text" placeholder="Admin Name" name="adminName">
                            <input type="text" placeholder="Admin Email" name="adminEmail">
                            <div class="contact">
                                <select name="countryCode">
                                    <option value="+91">+91</option>
                                    <!-- Add other country codes if needed -->
                                </select>
                                <input type="text" placeholder="Phone Number" name="phone">
                            </div>
                            <div style="width: 100%;">
                                <label for="hostelType">Select Hostel/Guest House</label>
                                <select name="hostelType" id="hostelType">
                                    <option value="Hostel">Hostel</option>
                                    <option value="Guest House">Guest House</option>
                                </select>
                            </div>
                            <div class="create-btns">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="createadminbtn">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- END OF CREATE ADMIN MODAL -->


    <!-- MAIN CONTENT CONTAINER -->
    <div class="main-container">
        <div class="statistics-container">
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
            <div class="graph">
                <span>Total Vacancy</span>
                <div class="detail"></div>
            </div>
        </div>
        <div class="statistics-container">
            {%for hostel in hostel_datails %}
                <div class="dashboard_cards">
                    <span> Hostel Name:{{hostel.hostel_name}}</span>                 
               
                        <a href="{% url 'update_hostel' hostel.Hostel_ID %}"><i style="color: green;">EDIT</i></a>               
                     
                    <!-- <span> Warden:{{hostel.hostel_warden}}</span><i style="color: red;">Delete</i> -->
                    <div class="detail"></div>
                </div>
            {% endfor %} 
        </div>


        <div class="content-container">
            
        </div>
    </div>

    <!-- input form-control design -->
 <script>             
    var form_fields = document.getElementsByTagName('input')
    for (var field in form_fields){	
        form_fields[field].className += ' form-control'
    }
 </script>
 <!-- end input form-control design -->




<!-- alert buttton for hostel creation -->
    <!-- {% if request.session.success_message %}
        <script>
            alert("REGISTERED");      
        </script>               
    {% endif %} -->
<!-- alert buttton for hostel creation -->

</main>
<script>
    $(document).ready(function () {
        $("#createadminbtn").click(function () {
            // Get input values
            var adminName = $("input[name='adminname']").val();
            var adminEmail = $("input[name='adminemail']").val();
            var phone = $("input[name='phone']").val();
            var hostelType = $("select[name='hostelType']").val();
            console.log(adminEmail);
            console.log(adminName);

            // AJAX request to the Django backend
            $.ajax({
                type: "POST",
                url: "/adminsave/",
                data: {
                    adminName: adminName,
                    adminEmail: adminEmail,
                    phone: phone,
                    hostelType: hostelType,
                },
                success: function (data) {
                    // Handle success, show a popup, etc.
                    alert("Admin added successfully!");
                },
                error: function (error) {
                    // Handle error, show an error message, etc.
                    console.error("Error adding admin:", error);
                }
            });
        });
    });
</script>
{% endblock %}