<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="clg-logo"></div>
        <div class="project-logo"></div>
    </nav>
    <div class="main-content">
        <div class="form-container">
            <span>Login</span>
            <input type="text" name="username" placeholder="username" id="username">
            <input type="text" name="password" placeholder="password" id="password">
            <button class="login-btn">Login</button>
            <span class="forgot-passwd">Forgot Password?</span>
        </div>
    </div>
</body>
</html>