{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

</head>
<body>
    <nav class="login-navbar">
        <div class="clg-logo">
            <img src="{% static 'assets/img/logo.png' %}" alt="">
        </div>
        <div class="project-logo">
            <img src="{% static 'assets/img/Project Logo.png' %}" alt="">
        </div>
    </nav>
    <div class="main-content">
        <div class="form-container">
            <span>Login</span>
            <form action="">
                <input type="text" name="username" placeholder="username" id="username">
                <input type="text" name="password" placeholder="password" id="password">
                <button class="login-btn">Login</button>
            </form>
            <span class="forgot-passwd">Forgot Password?</span>
        </div>
    </div>
</body>
</html>